.simulator-section {
    background-color:#ffedea;
    border: 3px solid var(--color-secondary);
    border-radius: var(--border-radius-soft);
    box-shadow: 8px 8px 0 var(--color-primary), 0 0 20px rgba(0,0,0,0.5);
    padding: 30px;
}

#main-title-box h1 {
    color: var(--color-primary);
    font-family: var(--font-header);
    font-weight: 800;
}


.comic-block {
    background-color: #ffedea; 
    border: 3px solid var(--color-secondary); 
    padding: 10px;
    box-shadow: 4px 4px 0 var(--color-secondary);
    position: relative;
    overflow: hidden;
    height: 100%; 
    min-height: 250px; 
}

.comic-caption {
    font-family: 'Comic Sans MS', cursive;
    font-weight: 600;
    color: var(--color-text);
    text-align: center;
    padding: 5px 0 0;
    margin-bottom: 0;
}

.comic-block img {
    border: 2px solid var(--color-primary); 
    width: 100%;
    height: auto;
    object-fit: cover;
}

.reveal {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
    transition: none; 
}

.reveal.show-animated {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.27);
}


#start-simulation-btn, #restart-btn {
    background-color: var(--color-primary);
    color: white;
    border: 2px solid var(--color-secondary);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 30px;
    box-shadow: 0 4px 0 var(--color-secondary);
    transition: all 0.1s ease;
}
#start-simulation-btn:hover, #restart-btn:hover {
    background-color: #A94A3D;
    transform: translateY(-2px);
    box-shadow: 0 6px 0 var(--color-secondary);
}

#final-message-box {
    background-color: #9eb598;
    border: 3px solid var(--color-primary);
    color: var(--color-text);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


[data-theme="dark"] .simulator-section {
    box-shadow: 8px 8px 0 var(--color-secondary), 0 0 20px rgba(0,0,0,0.3);
}

[data-theme="dark"] .comic-block {
    background-color: var(--color-bg-dark);
    border: 3px solid var(--color-primary);
    box-shadow: 4px 4px 0 var(--color-primary);
}

[data-theme="dark"] .comic-block img {
    border: 2px solid var(--color-secondary);
}